<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>service</title>
    <script type="application/javascript" src="/static/js/jquery-3.3.1.js"></script>
    <script type="application/javascript" src="/static/js/csfr.js"></script>
    <script>
          $.post("getStaticUrl/",
            {
                "cilentUser": window.location.pathname
            },
            function(data,status){
              console.log(data);
              console.log(status);
            });
    </script>
</head>
<body>
<h1>service</h1>
<a href="/login/">登录</a>
{% csrf_token %}
</body>
</html>